{
  "blueprint" : "cluster_blueprint",
  "default_password" : admin,
  "host_groups" :[
    {
      "name" : "single_node",
      "hosts" : [
        {
          "fqdn" : "localhost"
        }
      ]
    }
  ]
}
